@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --bg-color: #0aa1dd;
  --primary-color: #e8f9fd;
}

body {
  font-family: var(--font-family);
}
